

<!-- include the calendar js and css files -->
<%= javascript_include_tag('zabuto_calendar.min.js')%>
<%= stylesheet_link_tag("zabuto_calendar.min.css")%>


<!-- define the calendar element -->
<div class="calendar-container">
	<div id="january"></div>
</div>
<div class="bonus">
	<%= link_to "bonus",  index_bonus_path %>
	<div id="bonus-form"></div>
</div>

<div id="formulario"></div>

<!-- initialize the calendar on ready -->
<script type="application/javascript">



var data = <%= @data.html_safe %>;
console.log(data);


    $(document).ready(function () {

        $("#january").zabuto_calendar({
        	data: data,
        	action: function () {
        		console.log(this.id)
        		var date = $("#" + this.id).data('date');
        		console.log(date);
                return myDateFunction(this.id, date, false);
            },
            nav_icon: {
      			prev: '<i class="fa fa-chevron-circle-left"></i>',
      			next: '<i class="fa fa-chevron-circle-right"></i>'
    		},
            language: "es",
        	year: 2018,
      		month: 1,
            show_previous: false,
      		show_next: 13,
      		cell_border: true,
    		show_days: true,
    		weekstartson: 1,
    		legend: [{type: "block", label: "Special event", classname: "entypo-heart"}]
        });

    });


    function myDateFunction(id, date, fromModal) {     
        $.ajax({
        url:'/index/test',
        type: 'GET',
        data: {
        	date: date
        }
    });
    }

</script>
